<section class="newest-posts container">
  <div class="homepage-header">
    <h4>最新文章</h4>
  </div>
</section>
<section class="post-list visible-md visible-lg">
  <div class="container">
    <div class="row">

	{% for i in postlist %}
      <div class="col-sm-6 col-md-4">
	<a href="/new/{{ escape(str(i['_id'])) }}" class="post-item-wrap" title="最新文章" target="_blank" >
          <div class="post-item thumbnail">
      <!--img src="../static/img/bkimg.jpg" alt="缩略图"-->
      <img src="{{ escape(i['imgurl']) }}?imageView2/1/w/287/h/179/q/88" alt="缩略图">
            <div class="post-source light-green">
              <!--img class="img-responsive" src="http://gm0.lietou-static.com/user/pic_logo/big/1622/16210126.png?1415171902124"-->
		<h6 class="loc-middle">{{ i['posttag'] }}</h6>
            </div>
		<div class="post-title">
		<p><h5>{{ escape(i['title'])}}</h5></p>
		</div>
		<!--div class="post-comments">
		<p>{{ escape(i['shortcut']) }}</p>
		</div-->
		<div class="post-meta">
		<p>{{ escape(str(i['createDate'])[0:19]) }}  &nbsp; &nbsp; 作者:{{ i['writer'] }}</p>
		</div>
          </div>
        </a>
      </div>
{% end %}
    </div>
	
  </div><!-- .container -->
</section>
  <div class="container">

        {% for i,j,k,l,m in postlist %}
<section class="hidden-md hidden-lg">
<div class="media post-m">
  <a class="pull-left" href="/new/{{ escape(str(l)) }}">
    <img class="media-object" src="{{ escape(m) }}?imageView2/1/w/172/h/108/q/88" alt="...">
  </a>
  <div class="media-body">
    <h5 class="media-heading">{{ escape(i)}}</h5>
	<div class="post-meta">
                <p>{{ escape(str(k)[0:19]) }}</p>
        </div>
  </div>
</div>
{% end %}

  </div><!-- .container -->
</section>
