<div class="navbar-top navbar navbar-default navbar-fixed-top visible-lg">
  <div class="container container-igudoo">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">iGudoo</a>
    </div>
    <p class="navbar-text  co-brand hidden-xs">专注于最新实用信息分类分享</p>
  </div>
</div>
<nav class="navbar-top navbar-post hidden-lg navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">iGudoo</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">文艺范</a></li>
        <li><a href="#">技术控</a></li>
        <li><a href="#">评论家</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
