<header class="top-header jumbotron" style="background-image:  url({{ static_url('img/bkimg.jpg') }});">
  <div class="container">
	<div class="eee">
        <div class="page-header white">
            <h2>工作and生活</h2>
            <p class="lead">寻找我的范儿,爱生活,爱咕嘟!</p>
        </div>
        <div class="features media">
                <h5 class="media-left white">快捷入口：</h5>
                <div class="media-body">
        <p class="coms">
                        <a href="#" class="label label-danger label-color">文艺范</a>
                        <a href="#" class="label label-info label-color">技术控</a>
                        <a href="#" class="label label-warning label-color">评论家</a>
                        <a href="#" class="label label-default label-color">购物狂</a>
        </p>
                </div>
        </div>
	</div>
	<!--div>{% include "sign.html" %}</div-->
  </div>
</header>
