<!--header class="top-header jumbotron" style="background-image:  url({{ static_url('img/bkimg.jpg') }});"-->
<head class="top-header jumbotron">
<div id="carousel-example-generic" class="carousel slide carousel-zindex visible-lg" data-ride="carousel">
  <!-- Indicators -->
	<ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
      <div class="item active">
           <img src="http://igudooimg.qiniudn.com/homepage10dfa9ec8a136327c0e57125928fa0ec08fac798.jpg?imageView2/1/w/1800/h/330/q/100" alt="...">
		<div class="container">
            <div class="carousel-caption">
              <h1>文艺范.</h1>
              <p>Note: “文艺范儿”已经成为社会上的一个流行词汇，经常和“小清新”连在一起使用，合称“小清新，文艺范儿”。不同的人对“文艺范儿”都有着不同的理解，而且“文艺范儿”本身在日常生活中的不同的领域和不同的方面也有不同的表现.</p>
              <p><a class="btn btn-lg btn-danger" href="#" role="button">去看看.</a></p>
            </div>
          </div>
       </div>
      <div class="item">
          <img src="http://igudooimg.qiniudn.com/homepage730e0cf3d7ca7bcbb6437139bd096b63f624a8e8.jpg?imageView2/1/w/1800/h/330/q/100" alt="...">
		<div class="container">
            <div class="carousel-caption">
              <h1>技术控.</h1>
              <p>Note: 将宅境界的内容与现实中自己相关的行业或技术相组合的牛人们.</p>
              <p><a class="btn btn-lg btn-danger" href="#" role="button">去看看.</a></p>
            </div>
          </div>
      </div>
      <div class="item">
          <img src="http://igudooimg.qiniudn.com/homepage94cad1c8a786c91736b2083aca3d70cf3bc7577b.jpg?imageView2/1/w/1800/h/330/q/100" alt="...">
		<div class="container">
            <div class="carousel-caption">
              <h1>评论家.</h1>
              <p>Note: 从事评论工作的专家。在社会行业中有不同的分类如文学评论家，时政评论家，时装评论家，军事评论家，体育评论家，股市评论家等.</p>
              <p><a class="btn btn-lg btn-danger" href="#" role="button">去看看.</a></p>
            </div>
          </div>
      </div>
                                                                            </div>

  <!-- Controls -->
                        </div>
  <!--div class="container home-head">
	<div class="eee">
        <div class="page-header white">
            <h2>工作and生活</h2>
            <p class="lead">寻找我的范儿,爱生活,爱咕嘟!</p>
        </div>
        <div class="features media">
                <h5 class="media-left white">快捷入口：</h5>
                <div class="media-body">
        <p class="coms">
                        <a href="#" class="label label-danger label-color">文艺范</a>
                        <a href="#" class="label label-info label-color">技术控</a>
                        <a href="#" class="label label-warning label-color">评论家</a>
                        <a href="#" class="label label-default label-color">购物狂</a>
        </p>
                </div>
        </div>
	</div>
	<div>{% include "sign.html" %}</div>
  </div-->
</header>
