<header class="top-header jumbotron" style="background-image:  url({{ static_url('img/bkimg.jpg') }});">
  <div class="container">
	<div class="eee">
        <div class="page-header white">
            <h2>工作And生活</h2>
            <p class="lead">螃蟹的快乐都在这里了!</p>
        </div>
        <div class="features media">
                <h5 class="media-left white">快捷入口：</h5>
                <div class="media-body">
        <p class="coms">
                        <a href="http://post.heshui.la" class="label label-danger label-color">入口</a>
                        <a href="#" class="label label-danger label-color">生活中的点滴</a>
                        <a href="#" class="label label-info label-color">把心放在云上</a>
                        <a href="#" class="label label-warning label-color">工作上的那些事儿</a>
        </p>
                </div>
        </div>
	</div>
	<!--div>{% include "sign.html" %}</div-->
  </div>
</header>
