<form action="https://www.bunkr.me/en/signup" method="post" id="signupform">
					<input type="hidden" name="source" value="Homepage Main">
					<fieldset>
<div class="signup-form-block  pull-right">
<div class="row">
<div class="">
<input type="text" placeholder="Email" class="form-control input-lg input-bigger" name="mail" id="mail" value="" autofocus="">
<input type="password" placeholder="Password" class="form-control input-lg input-bigger" name="password" id="password" value=""><button type="submit" id="validation" class="btn btn-lg btn-block btn-success btn-uppercase btn-bigger">Use it for Free</button></div>
<div class="col-md-4 col-sm-4 ">

<div id="password_icon" class="checkpswd btn-danger"></div>
</div>
<div class="col-md-4 col-sm-4">

</div>
</div>
</div>
					</fieldset>

				</form>
